<app-header [verficaionPageMenu]='menu_active' ></app-header>
<section class="container-fluid bg-dashboard">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="service-whole-section">
          <div class="col-sm-12 text-center">
            <h2>We’re sorry to break it to you!</h2>
            <p>
                Unfortunately, TokenOx does not operate in your jurisdiction yet.
            </p>
            <p>
                We’re working on expanding our services globally.
            </p>
            <p>
                In the meantime, you can contact our team to find out how we can be of assistance to you.
            </p>
            <a href="" class="mt-5 mb-5 dark-button"> CONTACT SUPPORT </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
